.experienceBlock {
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
}

.projectsAnimation {
  grid-column: span 2;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #202020, #151515);
  border: 1px solid #2a2a2a;
  border-radius: 30px;
  overflow: hidden;
  white-space: nowrap;
}

.projectsAnimation p {
  display: inline-block;
  padding-left: 100%;
  animation: scrollText 15s linear infinite;
}

@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.moreInfoBlock {
  padding: 25px;
  background: linear-gradient(90deg, #202020, #151515);
  border: 1px solid #2a2a2a;
  border-radius: 30px;
}

.moreInfoBlock img {
  width: 100%;
  object-fit: cover;
}

.signatureInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 15px;
}

.subTitle {
  color: #bcbcbc;
  font-size: 12px;
  opacity: 0.5;
  margin-bottom: 6px;
  text-transform: uppercase;
  margin-top: 8px;
}

.title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}
