.container {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
  gap: 30px;
}

.informationBlock {
  width: 30%;
}

.nameCategory {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 29px;
}
.infoCard {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 70px;
  gap: 20px;
}

.imgBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  background: linear-gradient(90deg, #202020, #151515);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.imgBlock img {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.textBlock {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 10px 0;
}

.title {
  margin-bottom: 15px;
  color: #bcbcbc;
  font-size: 14px;
  opacity: 0.5;
  text-transform: uppercase;
  line-height: 1.2;
}

.subTitle {
  color: #ffffff;
  font-size: 16px;
  opacity: 0.8;
  font-weight: 500;
}

.formBlock {
  height: 450px;
  width: 60%;
  border: 1px solid blueviolet;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .informationBlock {
    width: 100%;
  }

  .formBlock {
    width: 100%;
  }
}
