.container {
  display: flex;
  justify-content: space-between;
  gap: 30px;

  height: 500px;
  border: 1px solid red;
}

.informationBlock {
  height: 450px;
  width: 30%;
  border: 1px solid greenyellow;
}

.formBlock {
  height: 450px;
  width: 60%;
  border: 1px solid blueviolet;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .informationBlock {
    width: 100%;
  }

  .formBlock {
    width: 100%;
  }
}
