.blogContainer {
  padding: 25px;
  background: linear-gradient(90deg, #202020, #151515);
  border: 1px solid #2a2a2a;
  border-radius: 30px;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  object-fit: cover;
}

.signatureInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 32px;
}

.subTitle {
  color: #bcbcbc;
  font-size: 12px;
  opacity: 0.5;
  margin-bottom: 6px;
  text-transform: uppercase;
  margin-top: 8px;
}

.title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}
