.blogContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 25px;
  background: linear-gradient(90deg, #202020, #151515);
  border: 1px solid #2a2a2a;
  border-radius: 30px;
}

.titleInfo {
  font-size: 44px;
  line-height: 52px;
  font-weight: 500;
  color: #fff;
  margin-top: 50px;
}
.titleInfo span {
  color: #5b78f6;
}
