.container {
  display: grid;
  max-width: 1170px;
  margin: 100px auto;
  gap: 20px;
}
/* GRID */
.upperSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.middleSection {
  display: grid;
  grid-template-columns: 263px 1fr 263px;
  gap: 20px;
}

.bottomSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

@media (max-width: 768px) {
  .upperSection {
    grid-template-columns: 1fr;
  }
}
